<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3>Esta es una zona privada de la web</h3>
		<p>
			Usuario Autenticado como : <span sec:authentication="principal.username"
 			th:inline="text"></span>
		</p>
		<p>Amigos</p>
		<div class="table-responsive">
			<table class="table table-hover" >
				<thead>
					<tr>
						<th class="col-md-1">id</th>
						<th>Email</th>						
						<th>Nombre</th>
						<th>Apellido</th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${usersList}">
						<td th:text="${user.id}">Juan</td>
						<td th:text="${user.email}">juanpa@email.com</td>
						<td th:text="${user.name}">Juan</td>
						<td th:text="${user.lastname}">Pazurrita</td>
						<td><a th:href="${'/user/details/' + user.id}">detalles</a></td>
						<td><a th:href="${'/user/edit/' + user.id}">modificar</a></td>
						<td><a th:href="${'/user/delete/' + user.id}">eliminar</a></td>
					</tr>
				</tbody>
			</table>
		</div>

	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
