<!DOCTYPE html>
<html lang="en">
<head th:replace="fragments/head" />
<body>
	<nav th:replace="fragments/nav" />
	<div class="container" style="text-align: center">
		<h2 th:text="#{welcome.message}"></h2>
		<h3 th:text="#{privatezone.message}">Esta zona solo es visible para ti</h3>
		<p th:text="#{userauth.message}">
			Usuario Autenticado como : <span sec:authentication="principal.username"
 			th:inline="text"></span>
		</p>
		<div class="table-responsive">
			<table class="table table-hover"  >
				<thead>
					<tr>
						<th th:text="#{name.message}" class="col-md-1">Nombre</th>
						<th class="col-md-1">Email</th>		
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
						<th class="col-md-1"></th>
										
					</tr>
				</thead>
				<tbody>
					<tr th:each="user : ${userList}">
						<td th:text="${user.name}"></td>
						<td th:text="${user.email}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<footer th:replace="fragments/footer" />
</body>
</html>
